/* extremely basic formatting */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
img {
  max-width: 100%;
  border-radius: 5px;
}
.button {
  background-color: #2D697C;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}
.button:hover {
  background-color: #327c94;
}

.card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 3rem 0;
    border-bottom: 1px solid #ccc;
    gap: 0;
    align-items: center;
}

.card:nth-last-child{
    border: none;
}

.card h2{
    margin: 0;
    font-size: 1.2rem;
}

.card img{
    grid-column: 2/3;
    grid-row: 1/3;
}

.card p{
    margin: 0;
}

.feature {
  grid-column: 1/3;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
}

.feature img{
    grid-column: 1/3;
    grid-row: 2/3;
}

.feature p:last-child{
    grid-row: 3/4;
    margin-top: 2rem;
}

.feature p:not(:has(a)) {
    display: none;
}

.card {
display: block;
border: 1px solid #ccc;
border-radius: 5px;
padding: 1rem;
}


@media (min-width: 500px){


    .allo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

     .feature{
        grid-column: 1/3;

     }
}
